.modal-overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex; 
    justify-content: center; 
    align-items: center;    
    z-index: 1000;
}

.contact-modal {
    width: 388px;
    height: 441px; 
    background-color: #ffffff;
    border-radius: 8px; 
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2); 
    border: solid ;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 1px solid #ddd; 
}

.contact-title {
    color: #333;
    font-size: 1.2rem;
    margin: 0;
}

.close-btn {
    font-size: 1.2rem;
    color: #666;
    cursor: pointer;
}

.modal-content {
    padding: 20px;
}

.social-link {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    margin-bottom: 10px;
    background-color: #f8f9fa; 
    border-radius: 6px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.social-link:hover {
    background-color: #e9ecef;
}

.social-icon {
    font-size: 20px;
    margin-right: 15px;
    min-width: 20px;
}

.fa-instagram { color: #E4405F; }
.fa-facebook { color: #1877F2; }
.fa-telegram-plane { color: #0088CC; }

.social-name {
    font-size: 1rem;
    color: #555;
}


.action-button {
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
}