.modal-overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex; 
    justify-content: center; 
    align-items: center;    

}

.contact-modal {
    width: 350px;
    height: 450px;
    background-color: #D9D9D9;
    border-radius: 20px; 
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2); 
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    border: 4px solid #4E87A3
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 20px;
    border-bottom: 1px solid #b1b1b1; 
}

.contact-title {
    color: #333;
    font-size: 1.7rem;
    margin: 0;
    display: flex;
    justify-content: center;
}

.close-button {
    font-size: 41px; 
    color: #666;
    cursor: pointer;
}

.modal-content {
    padding: 20px;
}

.social-link {
    display: flex;
    align-items: center;
    padding: 20px 15px;
    margin-bottom: 10px;
    background-color: #f8f9fab0; 
    border-radius: 6px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.link-for-social{
    text-decoration: none;
    color: inherit;
}

.social-link:hover {
    background-color: #ffffff;
}

.social-icon {
    font-size: 30px;
    margin-right: 15px;
    min-width: 10px;
}

.fa-instagram { color: #E4405F; }
.fa-facebook { color: #1877F2; }
.fa-telegram-plane { color: #0088CC; }
.fa-phone {color: #000000;}

.social-name {
    font-size: 1.5rem;
    color: #141414;
}


.action-button {
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
}