@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #8CB1B1;
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 60px;
}

.add-lesson-container,
.add-homework-container {
    margin-left: 60px;
}

.text {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin-bottom: 10px;
}

.name,
.choose-lesson {
    width: 420px;
    padding: 8px;
    border: none;
    background-color: #C1C1C2;
    font-size: 15px;
    font-family: 'Roboto', serif;
    margin-bottom: 10px;
    display: block;
}

.add-lesson-btn,
.add-homework-btn {
    background-color: #7A8EBA;
    color: #000;
    border: none;
    padding: 6px 18px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Roboto', serif;
    display: block;
}

.add-lesson-btn:hover,
.add-homework-btn:hover {
    background-color: #465499;
}