@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.main-container {
    display: flex;
    align-items: center;
    padding: 2em;
    background-color: #8CB1B1;

}